<%= form_for(@exec_member) do |f| %>
  <% if @exec_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exec_member.errors.count, "error") %> prohibited this exec_member from being saved:</h2>

      <ul>
      <% @exec_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :possition %><br>
    <%= f.text_field :possition %>
  </div>
  <div class="field">
    <%= f.label :exec_id %><br>
    <%= f.collection_select :exec_id, Exec.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :individual_id %><br>
    <%= f.collection_select :individual_id, Individual.all, :id, :full_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
