<%= form_for(@apple_phone) do |f| %>
  <% if @apple_phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apple_phone.errors.count, "error") %> prohibited this apple_phone from being saved:</h2>

      <ul>
      <% @apple_phone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.collection_select :city_id, City.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :device_token %><br>
    <%= f.text_field :device_token %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
