<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @event.start_at %>
</p>

<p>
  <strong>Duration minutes:</strong>
  <%= @event.duration_minutes %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
